{% extends "base.html" %} {% block title %} About Us {% endblock %}
{% block content %}
{% load static %}
<center><h1>About the Creator</h1></center>
<br>
<p>
    Hello there, I am a 3rd-year BSCS student at the AMA university, specializing in Data Science. I chose to create a tribute page for the movie 'Lupin III: Castle of Cagliostro' for my MVC project because the film holds a special place in my heart and has inspired me to appreciate the simple yet beautiful things in life.
</p>

<p>
    I have also wanted to make a tribute page about Hayao Miyazaki for a long time, and now I had the chance to do so. I chose this movie as my subject since this movie is also special to Miyazaki's body of work; it marks his debut as a director.
    I hope that once you have read my tribute page is that you'd have the urge to watch the movie as well, I guarantee you that this movie is an experience like no other, from the music, to the casts is just all perfect. I can call this movie confidently a <b>"masterpiece"</b>.
</p>

<b><center><p>Thank you for taking your taking your time to read all of this and have a great day!</p></center></b>

<center><img src="{% static 'cagliostro-7.gif' %}"
    width="498"
    height="269"
    id="gif">
</center>

{% endblock %}