{% extends "base.html" %} {% block title %} Contact Us {% endblock %}
{% block content %}
{% load static %}

<center><h1>Contact</h1></center>
<br>
<center><p>
    Please don't hesitate to contact the owner if you have any queries or questions.

<b></p></center>
<center><p>
    USN: 19001618300
    <p>Email: ninogarcia3209@gmail.com</p>
</p></center></b>

<center><img src="{% static 'cagliostro-9.gif' %}"
    width="500"
    height="270"
    id="end">
    </center>
{% endblock %}